{:paths ["src"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.3"}
         org.scicloj/kindly-advice      {:mvn/version "1-beta14"}
         rewrite-clj/rewrite-clj        {:mvn/version "1.2.50"}}
 :aliases
 {
  ;; Build with `clojure -T:dev build/jar` and `clojure -T:dev build/deploy`
  :dev      {:extra-paths ["notebooks" "test" "dev"]
             :extra-deps  {org.clojure/tools.build  {:mvn/version "0.9.2"}
                           slipset/deps-deploy      {:mvn/version "0.2.2"}}}
  ;; Run tests with `clojure -M:dev:test -m cognitect.test-runner`
  :test     {:extra-paths ["test"]
             :extra-deps  {io.github.cognitect-labs/test-runner
                           {:git/tag "v0.5.1" :git/sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
  ;; Format the code with `clojure -M:cljfmt`
  :cljfmt   {:main-opts  ["-m" "cljfmt.main"]
             :extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}}
  ;; Update dependencies with `clojure -M:outdated --upgrade`
  :outdated {:replace-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                            org.slf4j/slf4j-nop     {:mvn/version "2.0.17"}}
             :main-opts ["-m" "antq.core"]}}}
